	h1.title {
		text-align: center;
		color: white;
		font-family: Raleway-Regular;
		font-size: 30pt
	}
	td.tiers {
		width: 33%;
    }
    table.page_header {
        width :100%;
    }
    table.big_table{
        width :100%;
        border : solid 1px #370050;
    }
    
    td.small {
        width : 20%;
        border-bottom : 1px #370050;
    }

    td.big {
        width : 30%;
        text-align: left;
        border-bottom : 1px #370050;
    }
