{% extends 'base.html.twig' %}
{% block title %}
	BraveFinder : Evaluation
{% endblock %}

{% block head_css_detail %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/star-rating.css" media="all" type="text/css"/>
{% endblock %}


{% block head_js_detail %}
	<script src="/js/star-rating.js" type="text/javascript"></script>
	<script src="/js/locales/fr.js"></script>
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Evaluation
			{{ evaluation.practice.name |lower}}</h1>
	</div>
	<div class="container body-container">
		{{ include('evaluation/_form.html.twig') }}
	</div>
{% endblock %}
