{% extends 'base.html.twig' %}
{% block title %}
	BraveFinder : Evaluation
{% endblock %}

{% block body %}

	<div class="jumbotron text-center">
		<h1>Evaluation</h1>
	</div>
	<div class="container body-container">
		{{ include('entretien/_form.html.twig') }}
	</div>
{% endblock %}
