{% extends 'base.html.twig' %}

{% block meta_title %}{{ 'Page not found'|trans }}{% endblock %}
{% block content %}
    <div class="d-flex flex-column flex-center flex-column-fluid p-10">
        <h1>OUPS, 404!</h1>
        <p class="text-uppercase">
            Cette page n'aboutit nulle part!
        </p>
        <div class="text-center">
            <a href="{{ path('main.index') }}" class="btn btn-lg btn-primary fw-bolder">{{ 'Go to homepage'|trans }}</a>
        </div>
        <div class="invisible">{{ exception.message }}</div>
    </div>
{% endblock %}
