{% extends 'base.html.twig' %}

{% block title %}BraveFinder : Import et export des candidats
{% endblock %}

{% block content %}
	<div class="jumbotron text-center">
		<h1>Import et export des candidats</h1>
	</div>

	<div class="container body-container">
		<div class="row"></div>
	</div>
{% endblock %}
