{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>BraveFinder</h1>
	</div>
	<div class="container mr-auto" id="carouselMainPage">
		<div id="carousel118info" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel118info" data-slide-to="0" class="active"></li>
				<li data-target="carousel118info" data-slide-to="1"></li>
				<li data-target="carousel118info" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner ">
				<div class="carousel-item  active">

					<img src="\img\eca_campagne_notoriete.jpg" class="img-fluid" alt="...">

				</div>
				<div class="carousel-item ">

					<img src="\img\eca_campagne_notoriete7.jpg" class="img-fluid" alt="...">

				</div>
				<div class="carousel-item ">

					<img src="\img\post_insta_ECA_entraide_valeurs.jpg" class="img-fluid" alt="...">

				</div>
			</div>
		</div>
	</div>
{% endblock %}
